*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #bdc3c7;
  line-height: 1.5;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
html {
  background-color: #f0f0f0;
  margin:0;
  padding:0;
}
body {
    
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  margin:0;
  padding:0;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 1rem;
}
.cards__item {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.content{padding-top:100px;}
.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
#header_top{
    z-index:10;
    width:100%;
    position: fixed;
    background-color: #f0f0f0;
    text-align: center;
}
.align_right{
    text-align: right;
    margin-bottom:5px;
}

// 


a {
  text-decoration: none;
  color: #fff;
}
#header {
  background: #1e262d;
  width: 100%;
  position: relative;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}
.search {
  float: right;
  padding: 30px;
}
input {
  border: none;
  padding: 10px;
  border-radius: 20px;
}
.logo {
  float: left;
  padding: 26px 0 26px;
}
.logo a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
}
nav {
  float: right;
}
nav > ul {
  float: left;
  position: relative;
}
nav li {
  list-style: none;
  float: left;
}
nav .dropdown {
  position: relative;
}
nav li a {
  float: left;
  padding: 35px;
}
nav li a:hover {
  background: #2c3e50;
}
nav li ul {
  display: none;
}
nav li:hover ul {
  display: inline;
}
nav li li {
  float: none;
}
nav .dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  padding: 20px 0;
  border-bottom: 3px solid #34495e;
}
nav .dropdown li {
  white-space: nowrap;
}
nav .dropdown li a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 200px;
}
nav .mega-dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  overflow: hidden;
  padding: 20px 35px;
  border-bottom: 3px solid #34495e;
}
nav li li a {
  float: none;
  color: #333;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}
nav li li a:hover {
  background: #bdc3c7;
  background: #fafbfb;
}
.mega-col {
  width: 25%;
  float: left;
}
#menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}
#menu-icon span {
  border: 2px solid #fff;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.1s;
}
@media only screen and (max-width: 1170px) {
  nav > ul > li > a {
    padding: 35px 15px;
  }
}
@media only screen and (min-width: 960px) {
  nav {
    display: block !important;
  }
}
@media only screen and (max-width: 959px) {
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
  }
  // overflow-y:scroll
  #menu-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
  }
  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }
  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }
  #menu-icon.active .third {
    display: none;
  }
  .search {
    float: none;
  }
  .search input {
    width: 100%;
  }
  nav {
    padding: 10px;
  }
  nav ul {
    float: none;
  }
  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    padding: 8px;
    display: block;
  }
  #header nav ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  #header nav a {
    color: #fff;
    padding: 8px;
    text-align: left;
  }
  #header nav a li {
  }
  #header nav a:hover {
    background: #fff;
    color: #333;
    border-radius: 3px;
  }
  #header nav ul li li a:before {
    content: "- ";
  }
  .mega-col {
    width: 100%;
  }
}
nav.active {
  display: block;
}
.content_de {
  padding-top: 100px;
}
.card__text {
  color: #222;
  padding-top:10px;
}
.align_right{
  color: #222;
}

/*
Copyright (c) 2017 Chris Patuzzo
https://twitter.com/chrispatuzzo

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

.mark_content {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  max-width:950px;
  margin:auto;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
  color: #333;
}

.mark_content > *:first-child {
  margin-top: 0 !important;
}

.mark_content > *:last-child {
  margin-bottom: 0 !important;
}

.mark_content a {
  color: #4183C4;
  text-decoration: none;
}

.mark_content a.absent {
  color: #cc0000;
}

.mark_content a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.mark_content h1, 
.mark_content h2, 
.mark_content h3, 
.mark_content h4, 
.mark_content h5, 
.mark_content h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.mark_content h2:first-child, 
.mark_content h1:first-child, 
.mark_content h1:first-child + h2, 
.mark_content h3:first-child, 
.mark_content h4:first-child, 
.mark_content h5:first-child, 
.mark_content h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.mark_content h1:hover a.anchor, 
.mark_content h2:hover a.anchor, 
.mark_content h3:hover a.anchor, 
.mark_content h4:hover a.anchor, 
.mark_content h5:hover a.anchor, 
.mark_content h6:hover a.anchor {
  text-decoration: none;
}

.mark_content h1 tt, 
.mark_content h1 code {
  font-size: inherit;
}

.mark_content h2 tt, 
.mark_content h2 code {
  font-size: inherit;
}

.mark_content h3 tt, 
.mark_content h3 code {
  font-size: inherit;
}

.mark_content h4 tt, 
.mark_content h4 code {
  font-size: inherit;
}

.mark_content h5 tt, 
.mark_content h5 code {
  font-size: inherit;
}

.mark_content h6 tt, 
.mark_content h6 code {
  font-size: inherit;
}

.mark_content h1 {
  font-size: 28px;
  color: black;
}

.mark_content h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

.mark_content h3 {
  font-size: 18px;
}

.mark_content h4 {
  font-size: 16px;
}

.mark_content h5 {
  font-size: 14px;
}

.mark_content h6 {
  color: #777777;
  font-size: 14px;
}

.mark_content p, 
.mark_content blockquote, 
.mark_content ul, 
.mark_content ol, 
.mark_content dl, 
.mark_content li, 
.mark_content table, 
.mark_content pre {
  margin: 15px 0;
}

.mark_content hr {
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}

.mark_content  > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.mark_content  > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.mark_content  > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}

.mark_content  > h3:first-child, 
.mark_content  > h4:first-child, 
.mark_content  > h5:first-child, 
.mark_content  > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.mark_content a:first-child h1, 
.mark_content a:first-child h2, 
.mark_content a:first-child h3, 
.mark_content a:first-child h4, 
.mark_content a:first-child h5, 
.mark_content a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.mark_content h1 p, 
.mark_content h2 p, 
.mark_content h3 p, 
.mark_content h4 p, 
.mark_content h5 p, 
.mark_content h6 p {
  margin-top: 0;
}

.mark_content li p.first {
  display: inline-block;
}

.mark_content ul, 
.mark_content ol {
  padding-left: 30px;
}

.mark_content ul :first-child, 
.mark_content ol :first-child {
  margin-top: 0;
}

.mark_content ul :last-child, 
.mark_content ol :last-child {
  margin-bottom: 0;
}

.mark_content dl {
  padding: 0;
}

.mark_content dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.mark_content dl dt:first-child {
  padding: 0;
}

.mark_content dl dt > :first-child {
  margin-top: 0;
}

.mark_content dl dt > :last-child {
  margin-bottom: 0;
}

.mark_content dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.mark_content dl dd > :first-child {
  margin-top: 0;
}

.mark_content dl dd > :last-child {
  margin-bottom: 0;
}

.mark_content blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

.mark_content blockquote > :first-child {
  margin-top: 0;
}

.mark_content blockquote > :last-child {
  margin-bottom: 0;
}

.mark_content table {
  padding: 0;
}
.mark_content table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

.mark_content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.mark_content table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.mark_content table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.mark_content table tr th :first-child, 
.mark_content table tr td :first-child {
  margin-top: 0;
}

.mark_content table tr th :last-child, 
.mark_content table tr td :last-child {
  margin-bottom: 0;
}

.mark_content img {
  max-width: 100%;
}

.mark_content span.frame {
  display: block;
  overflow: hidden;
}

.mark_content span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.mark_content span.frame span img {
  display: block;
  float: left;
}

.mark_content span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

.mark_content span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.mark_content span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.mark_content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.mark_content span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.mark_content span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.mark_content span.align-right span img {
  margin: 0;
  text-align: right;
}

.mark_content span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.mark_content span.float-left span {
  margin: 13px 0 0;
}

.mark_content span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.mark_content span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.mark_content code, 
.mark_content tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.mark_content pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.mark_content .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.mark_content pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.mark_content pre code, 
.mark_content pre tt {
  background-color: transparent;
  border: none;
}